<div>
  <label>Email</label>
  <br>
  <input type="text" name="email" [(ngModel)]="email">
  <br>

  <label>password</label>
  <br>
  <input type="text" name="password" [(ngModel)]="password">
  <br>

  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>

</div>
<div>
  {{loggedInMessage}}
</div>

<div *ngIf="currentUser">
  <h2>Current User Information</h2>
  <p>Email: {{currentUser.email}}</p>
  <!-- Add other user information as needed -->
</div>
<div *ngIf="!currentUser">
  <p>No current user logged in.</p>
</div>





